USE [master]
GO
/****** Object:  Database [final_capstone]    Script Date: 8/15/2023 10:50:55 AM ******/
CREATE DATABASE [final_capstone]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'final_capstone', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\final_capstone.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'final_capstone_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\final_capstone_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [final_capstone].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [final_capstone]
GO
/****** Object:  Table [dbo].[comment]    Script Date: 8/15/2023 10:50:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comment](
	[comment_id] [int] IDENTITY(1,1) NOT NULL,
	[review_id] [int] NOT NULL,
	[commenter_id] [int] NOT NULL,
	[comment_content] [varchar](max) NOT NULL,
	[comment_datetime] [date] NOT NULL,
 CONSTRAINT [PK_comment] PRIMARY KEY CLUSTERED 
(
	[comment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[company]    Script Date: 8/15/2023 10:50:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[company](
	[company_id] [int] IDENTITY(1,1) NOT NULL,
	[company_name] [varchar](200) NOT NULL,
 CONSTRAINT [Pk_company] PRIMARY KEY CLUSTERED 
(
	[company_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[game]    Script Date: 8/15/2023 10:50:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[game](
	[game_id] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](50) NOT NULL,
	[description] [varchar](max) NOT NULL,
	[esrb_rating] [varchar](10) NOT NULL,
	[release_date] [date] NOT NULL,
	[image_url] [varchar](max) NOT NULL,
 CONSTRAINT [PK_games] PRIMARY KEY CLUSTERED 
(
	[game_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[game_developer]    Script Date: 8/15/2023 10:50:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[game_developer](
	[developer_id] [int] NOT NULL,
	[game_id] [int] NOT NULL,
 CONSTRAINT [PK_game_developer] PRIMARY KEY CLUSTERED 
(
	[game_id] ASC,
	[developer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[game_genre]    Script Date: 8/15/2023 10:50:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[game_genre](
	[genre_id] [int] NOT NULL,
	[game_id] [int] NOT NULL,
 CONSTRAINT [PK_game_genre] PRIMARY KEY CLUSTERED 
(
	[game_id] ASC,
	[genre_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[game_list]    Script Date: 8/15/2023 10:50:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[game_list](
	[list_id] [int] NOT NULL,
	[game_id] [int] NOT NULL,
 CONSTRAINT [PK_game_list] PRIMARY KEY CLUSTERED 
(
	[list_id] ASC,
	[game_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[game_platform]    Script Date: 8/15/2023 10:50:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[game_platform](
	[platform_id] [int] NOT NULL,
	[game_id] [int] NOT NULL,
 CONSTRAINT [PK_game_platform] PRIMARY KEY CLUSTERED 
(
	[game_id] ASC,
	[platform_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[game_publisher]    Script Date: 8/15/2023 10:50:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[game_publisher](
	[publisher_id] [int] NOT NULL,
	[game_id] [int] NOT NULL,
 CONSTRAINT [PK_game_publisher] PRIMARY KEY CLUSTERED 
(
	[game_id] ASC,
	[publisher_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[genre]    Script Date: 8/15/2023 10:50:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[genre](
	[genre_id] [int] IDENTITY(1,1) NOT NULL,
	[genre_name] [varchar](200) NOT NULL,
 CONSTRAINT [Pk_genre] PRIMARY KEY CLUSTERED 
(
	[genre_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[list]    Script Date: 8/15/2023 10:50:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[list](
	[list_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[list_title] [varchar](50) NOT NULL,
	[list_type_id] [int] NOT NULL,
 CONSTRAINT [PK_list] PRIMARY KEY CLUSTERED 
(
	[list_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[list_type]    Script Date: 8/15/2023 10:50:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[list_type](
	[list_type_id] [int] IDENTITY(1,1) NOT NULL,
	[list_type_name] [varchar](100) NOT NULL,
	[is_default] [bit] NOT NULL,
 CONSTRAINT [PK_list_type] PRIMARY KEY CLUSTERED 
(
	[list_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[platform]    Script Date: 8/15/2023 10:50:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[platform](
	[platform_id] [int] IDENTITY(1,1) NOT NULL,
	[platform_name] [varchar](200) NOT NULL,
 CONSTRAINT [pk_platform] PRIMARY KEY CLUSTERED 
(
	[platform_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rating]    Script Date: 8/15/2023 10:50:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rating](
	[game_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[rating_value] [int] NOT NULL,
	[rating_datetime] [date] NOT NULL,
 CONSTRAINT [PK_rating] PRIMARY KEY CLUSTERED 
(
	[game_id] ASC,
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[review]    Script Date: 8/15/2023 10:50:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[review](
	[review_id] [int] IDENTITY(1,1) NOT NULL,
	[game_id] [int] NOT NULL,
	[reviewer_id] [int] NOT NULL,
	[review_content] [varchar](max) NOT NULL,
	[review_datetime] [date] NOT NULL,
 CONSTRAINT [PK_review] PRIMARY KEY CLUSTERED 
(
	[review_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 8/15/2023 10:50:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password_hash] [varchar](200) NOT NULL,
	[salt] [varchar](200) NOT NULL,
	[user_role] [varchar](50) NOT NULL,
	[is_deleted] [bit] NOT NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[comment] ON 

INSERT [dbo].[comment] ([comment_id], [review_id], [commenter_id], [comment_content], [comment_datetime]) VALUES (1, 1, 2, N'this review sucks go open your eyes', CAST(N'2023-08-09' AS Date))
INSERT [dbo].[comment] ([comment_id], [review_id], [commenter_id], [comment_content], [comment_datetime]) VALUES (2, 2, 1, N'this game is the best what are you talking about?', CAST(N'2023-08-12' AS Date))
INSERT [dbo].[comment] ([comment_id], [review_id], [commenter_id], [comment_content], [comment_datetime]) VALUES (3, 2, 1, N'Maybe if the sped up on the new game I would like it more', CAST(N'2023-08-12' AS Date))
SET IDENTITY_INSERT [dbo].[comment] OFF
GO
SET IDENTITY_INSERT [dbo].[company] ON 

INSERT [dbo].[company] ([company_id], [company_name]) VALUES (1, N'Nintendo')
INSERT [dbo].[company] ([company_id], [company_name]) VALUES (2, N'Rockstar Games')
INSERT [dbo].[company] ([company_id], [company_name]) VALUES (3, N'Arkane Studios')
SET IDENTITY_INSERT [dbo].[company] OFF
GO
SET IDENTITY_INSERT [dbo].[game] ON 

INSERT [dbo].[game] ([game_id], [title], [description], [esrb_rating], [release_date], [image_url]) VALUES (1, N'Super Mario Bros', N'Super Mario Bros. is a platform game. In the game, Mario must race through the Mushroom Kingdom and save Princess Toadstool (later Princess Peach) from Bowser. Mario jumps, runs, and walks across each level. The worlds are full of enemies and platforms, and open holes.', N'E', CAST(N'1985-09-13' AS Date), N'https://img-grouvee-com.b-cdn.net/upload/cache/28/d1/28d1a59b8cc9631f5fe0141dc6c06542.jpg')
INSERT [dbo].[game] ([game_id], [title], [description], [esrb_rating], [release_date], [image_url]) VALUES (2, N'Grand Theft Auto V', N'Grand Theft Auto V is an action-adventure game played from either a third-person or first-person perspective. Players complete missions—linear scenarios with set objectives—to progress through the story. Outside of the missions, players may freely roam the open world.', N'M', CAST(N'2013-09-17' AS Date), N'https://img-grouvee-com.b-cdn.net/upload/cache/ed/42/ed42cf726c8299b8ee36e0b34754ad61.jpg')
INSERT [dbo].[game] ([game_id], [title], [description], [esrb_rating], [release_date], [image_url]) VALUES (3, N'Prey', N' In Prey, you awaken aboard Talos I, a space station orbiting the moon in the year 2032. You are the key subject of an experiment meant to alter humanity forever – but things have gone terribly wrong. The space station has been overrun by hostile aliens and you are now being hunted.', N'M', CAST(N'2017-05-15' AS Date), N'https://img-grouvee-com.b-cdn.net/upload/cache/cb/f6/cbf6710ef76b9a48bf3f8fe72658d6f5.jpg')
SET IDENTITY_INSERT [dbo].[game] OFF
GO
INSERT [dbo].[game_developer] ([developer_id], [game_id]) VALUES (1, 1)
INSERT [dbo].[game_developer] ([developer_id], [game_id]) VALUES (2, 2)
INSERT [dbo].[game_developer] ([developer_id], [game_id]) VALUES (3, 3)
GO
INSERT [dbo].[game_genre] ([genre_id], [game_id]) VALUES (1, 1)
INSERT [dbo].[game_genre] ([genre_id], [game_id]) VALUES (2, 2)
INSERT [dbo].[game_genre] ([genre_id], [game_id]) VALUES (3, 2)
GO
INSERT [dbo].[game_platform] ([platform_id], [game_id]) VALUES (1, 1)
INSERT [dbo].[game_platform] ([platform_id], [game_id]) VALUES (3, 2)
INSERT [dbo].[game_platform] ([platform_id], [game_id]) VALUES (4, 2)
GO
INSERT [dbo].[game_publisher] ([publisher_id], [game_id]) VALUES (1, 1)
INSERT [dbo].[game_publisher] ([publisher_id], [game_id]) VALUES (2, 2)
INSERT [dbo].[game_publisher] ([publisher_id], [game_id]) VALUES (9, 3)
GO
SET IDENTITY_INSERT [dbo].[genre] ON 

INSERT [dbo].[genre] ([genre_id], [genre_name]) VALUES (1, N'Platformer')
INSERT [dbo].[genre] ([genre_id], [genre_name]) VALUES (2, N'Third-Person Shooter')
INSERT [dbo].[genre] ([genre_id], [genre_name]) VALUES (3, N'First-Person Shooter')
SET IDENTITY_INSERT [dbo].[genre] OFF
GO
SET IDENTITY_INSERT [dbo].[list_type] ON 

INSERT [dbo].[list_type] ([list_type_id], [list_type_name], [is_default]) VALUES (1, N'Want To Play', 1)
INSERT [dbo].[list_type] ([list_type_id], [list_type_name], [is_default]) VALUES (2, N'Currently Playing', 1)
INSERT [dbo].[list_type] ([list_type_id], [list_type_name], [is_default]) VALUES (3, N'Has Played', 1)
SET IDENTITY_INSERT [dbo].[list_type] OFF
GO
SET IDENTITY_INSERT [dbo].[platform] ON 

INSERT [dbo].[platform] ([platform_id], [platform_name]) VALUES (1, N'NES')
INSERT [dbo].[platform] ([platform_id], [platform_name]) VALUES (2, N'Xbox 360')
INSERT [dbo].[platform] ([platform_id], [platform_name]) VALUES (3, N'Xbox one')
SET IDENTITY_INSERT [dbo].[platform] OFF
GO
INSERT [dbo].[rating] ([game_id], [user_id], [rating_value], [rating_datetime]) VALUES (1, 1, 4, CAST(N'2023-08-09' AS Date))
INSERT [dbo].[rating] ([game_id], [user_id], [rating_value], [rating_datetime]) VALUES (1, 2, 3, CAST(N'2023-08-09' AS Date))
INSERT [dbo].[rating] ([game_id], [user_id], [rating_value], [rating_datetime]) VALUES (2, 1, 3, CAST(N'2023-08-08' AS Date))
GO
SET IDENTITY_INSERT [dbo].[review] ON 

INSERT [dbo].[review] ([review_id], [game_id], [reviewer_id], [review_content], [review_datetime]) VALUES (1, 1, 1, N'Really Enjoyed this game', CAST(N'2023-08-09' AS Date))
INSERT [dbo].[review] ([review_id], [game_id], [reviewer_id], [review_content], [review_datetime]) VALUES (2, 1, 2, N'It Was Meh, could be better', CAST(N'2023-08-12' AS Date))
INSERT [dbo].[review] ([review_id], [game_id], [reviewer_id], [review_content], [review_datetime]) VALUES (3, 2, 2, N'Grew up on this really like it', CAST(N'2023-08-10' AS Date))
SET IDENTITY_INSERT [dbo].[review] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([user_id], [username], [password_hash], [salt], [user_role], [is_deleted]) VALUES (1, N'user', N'Jg45HuwT7PZkfuKTz6IB90CtWY4=', N'LHxP4Xh7bN0=', N'user', 0)
INSERT [dbo].[users] ([user_id], [username], [password_hash], [salt], [user_role], [is_deleted]) VALUES (2, N'admin', N'YhyGVQ+Ch69n4JMBncM4lNF/i9s=', N'Ar/aB2thQTI=', N'admin', 0)
INSERT [dbo].[users] ([user_id], [username], [password_hash], [salt], [user_role], [is_deleted]) VALUES (3, N'zak', N'R52Qda8Fo6bVPwPI7VLTniQzUfY=', N'bb9nMvnZB0A=', N'user', 0)
SET IDENTITY_INSERT [dbo].[users] OFF
GO
/****** Object:  Index [UQ_UniqueCombination]    Script Date: 8/15/2023 10:50:55 AM ******/
ALTER TABLE [dbo].[review] ADD  CONSTRAINT [UQ_UniqueCombination] UNIQUE NONCLUSTERED 
(
	[game_id] ASC,
	[reviewer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((0)) FOR [is_deleted]
GO
ALTER TABLE [dbo].[comment]  WITH CHECK ADD  CONSTRAINT [FK_comment_review] FOREIGN KEY([review_id])
REFERENCES [dbo].[review] ([review_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[comment] CHECK CONSTRAINT [FK_comment_review]
GO
ALTER TABLE [dbo].[comment]  WITH CHECK ADD  CONSTRAINT [FK_comment_users] FOREIGN KEY([commenter_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[comment] CHECK CONSTRAINT [FK_comment_users]
GO
ALTER TABLE [dbo].[game_developer]  WITH CHECK ADD  CONSTRAINT [FK_game_developer_company] FOREIGN KEY([developer_id])
REFERENCES [dbo].[company] ([company_id])
GO
ALTER TABLE [dbo].[game_developer] CHECK CONSTRAINT [FK_game_developer_company]
GO
ALTER TABLE [dbo].[game_developer]  WITH CHECK ADD  CONSTRAINT [FK_game_developer_game] FOREIGN KEY([game_id])
REFERENCES [dbo].[game] ([game_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[game_developer] CHECK CONSTRAINT [FK_game_developer_game]
GO
ALTER TABLE [dbo].[game_genre]  WITH CHECK ADD  CONSTRAINT [FK_game_genre_game] FOREIGN KEY([game_id])
REFERENCES [dbo].[game] ([game_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[game_genre] CHECK CONSTRAINT [FK_game_genre_game]
GO
ALTER TABLE [dbo].[game_genre]  WITH CHECK ADD  CONSTRAINT [FK_game_genre_genre] FOREIGN KEY([genre_id])
REFERENCES [dbo].[genre] ([genre_id])
GO
ALTER TABLE [dbo].[game_genre] CHECK CONSTRAINT [FK_game_genre_genre]
GO
ALTER TABLE [dbo].[game_list]  WITH CHECK ADD  CONSTRAINT [FK_game_list_game] FOREIGN KEY([game_id])
REFERENCES [dbo].[game] ([game_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[game_list] CHECK CONSTRAINT [FK_game_list_game]
GO
ALTER TABLE [dbo].[game_list]  WITH CHECK ADD  CONSTRAINT [FK_game_list_list] FOREIGN KEY([list_id])
REFERENCES [dbo].[list] ([list_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[game_list] CHECK CONSTRAINT [FK_game_list_list]
GO
ALTER TABLE [dbo].[game_platform]  WITH CHECK ADD  CONSTRAINT [FK_game_platform_game] FOREIGN KEY([game_id])
REFERENCES [dbo].[game] ([game_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[game_platform] CHECK CONSTRAINT [FK_game_platform_game]
GO
ALTER TABLE [dbo].[game_platform]  WITH CHECK ADD  CONSTRAINT [FK_game_platform_platform] FOREIGN KEY([platform_id])
REFERENCES [dbo].[platform] ([platform_id])
GO
ALTER TABLE [dbo].[game_platform] CHECK CONSTRAINT [FK_game_platform_platform]
GO
ALTER TABLE [dbo].[game_publisher]  WITH CHECK ADD  CONSTRAINT [FK_game_publisher_company] FOREIGN KEY([publisher_id])
REFERENCES [dbo].[company] ([company_id])
GO
ALTER TABLE [dbo].[game_publisher] CHECK CONSTRAINT [FK_game_publisher_company]
GO
ALTER TABLE [dbo].[game_publisher]  WITH CHECK ADD  CONSTRAINT [FK_game_publisher_game] FOREIGN KEY([game_id])
REFERENCES [dbo].[game] ([game_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[game_publisher] CHECK CONSTRAINT [FK_game_publisher_game]
GO
ALTER TABLE [dbo].[list]  WITH CHECK ADD  CONSTRAINT [FK_list_list_type] FOREIGN KEY([list_type_id])
REFERENCES [dbo].[list_type] ([list_type_id])
GO
ALTER TABLE [dbo].[list] CHECK CONSTRAINT [FK_list_list_type]
GO
ALTER TABLE [dbo].[list]  WITH CHECK ADD  CONSTRAINT [FK_list_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[list] CHECK CONSTRAINT [FK_list_users]
GO
ALTER TABLE [dbo].[rating]  WITH CHECK ADD  CONSTRAINT [FK_rating_game] FOREIGN KEY([game_id])
REFERENCES [dbo].[game] ([game_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[rating] CHECK CONSTRAINT [FK_rating_game]
GO
ALTER TABLE [dbo].[rating]  WITH CHECK ADD  CONSTRAINT [FK_rating_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[rating] CHECK CONSTRAINT [FK_rating_users]
GO
ALTER TABLE [dbo].[review]  WITH CHECK ADD  CONSTRAINT [FK_review_game] FOREIGN KEY([game_id])
REFERENCES [dbo].[game] ([game_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[review] CHECK CONSTRAINT [FK_review_game]
GO
ALTER TABLE [dbo].[review]  WITH CHECK ADD  CONSTRAINT [FK_review_users] FOREIGN KEY([reviewer_id])
REFERENCES [dbo].[users] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[review] CHECK CONSTRAINT [FK_review_users]
GO
ALTER TABLE [dbo].[list_type]  WITH CHECK ADD  CONSTRAINT [CK_listtype_isdft] CHECK  (([is_default]=(0) OR [is_default]=(1)))
GO
ALTER TABLE [dbo].[list_type] CHECK CONSTRAINT [CK_listtype_isdft]
GO
ALTER TABLE [dbo].[rating]  WITH CHECK ADD CHECK  (([rating_value]>=(1) AND [rating_value]<=(5)))
GO
USE [master]
GO
